pip
db-dtypes
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-storage
google-auth
jupyter
lightgbm==4.4.0
lime==0.2.0.1
matplotlib==3.7.5
numpy==1.26.4
pandas==2.1.4
pickleshare==0.7.5
plotly==5.22.0
scikit-base==0.7.8
scikit-image==0.24.0
scikit-learn==1.4.2
scikit-plot==0.3.7
scipy==1.11.4
seaborn==0.13.2
shap==0.46.0
six==1.16.0
sktime==0.26.0
statsmodels==0.14.2
xgboost==2.0.3
